<h1> Add New Cat! </h1>

<form action="<% cats_url %>"  method = "post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name%>">

  <br>

  <label for="sex">Sex</label>
  <input id="sex", name="sex" type="radio" value="M" />M
  <input id="sex", name="sex" type="radio" value="F" />F

  <br>

  <label for="color">Color</label>
  <select id="color" name="color">
    <option value="blank" disabled="true" selected="true">       </option>
    <% Cat::COLORS.each do |color| %>
     <option value="<%=color%>"><%=color.capitalize%></option>
    <% end %>
  </select>

  <br>

  <label for="birth_date">Birth Date</label>
    <input id="birth_date", name="birth_date" type="date" value="<%= @cat.birth_date%>">

  <br>

  <label>Description
    <textarea name="description" cols="30" rows="10"></textarea>
  </label>

  <br>

   <input type="submit" value="Add Cat!">
</form>
